# {{ ansible_managed }}
;;;;; Author: Travis Cross <tc@traviscross.com>

[Unit]
Description=FreeSWITCH
After=syslog.target network.target local-fs.target

[Service]
; service
Type=forking
PIDFile=/run/freeswitch/freeswitch.pid

# Delete SQLite databases on startup
ExecStartPre=/bin/dash -c "rm -f /var/lib/freeswitch/db/*.db"
ExecStartPre=/bin/rm -rf /run/freeswitch
ExecStartPre=/bin/mkdir -p /run/freeswitch
ExecStartPre=/bin/chown freeswitch:freeswitch /run/freeswitch

ExecStopPost=/bin/rm -rf /run/freeswitch

ExecStart=/opt/freeswitch/bin/freeswitch -rp -u freeswitch -g freeswitch -ncwait
TimeoutSec=45s
Restart=on-failure

LimitCORE=infinity

# make FS less likely to be killed
OOMScoreAdjust=-100

#LimitNOFILE=100000
#LimitNPROC=60000
#LimitRTPRIO=infinity
#LimitRTTIME=7000000
#IOSchedulingClass=realtime
#IOSchedulingPriority=2
#CPUSchedulingPolicy=rr
#CPUSchedulingPriority=89
UMask=0007

[Install]
WantedBy=multi-user.target
