# {{ ansible_managed }}
[Unit]
Description=Wireshark
After=remote-fs.target systemd-journald-dev-log.socket

[Service]
# number of files to create
Environment=NUM=2880
# seconds to record for each file
Environment=CAPTUREINTERVALSEC=900
# max size of each file
Environment=MAXFILESIZE=34700

Type=simple
Restart=always
# -q makes wireshark less noisy
# -g makes created files group-readable, which we use with POSIX ACLs
# to allow westtel to read pcap files
# the two \x22 are a pair of quoted double quotes
# for -i, we take the interface of the default route for IPv4, the vast majority of the time this
# will be what we want. If the interface of the default route somehow changes, you will need to
# restart wireshark.
ExecStart=/bin/dash -c "exec /usr/bin/dumpcap -q -g -i $(ip -4 route ls | grep default | grep -Po '(?<=dev )(\x5CS+)') -b files:$NUM -b filesize:$MAXFILESIZE -b duration:$CAPTUREINTERVALSEC -f \x22udp or icmp or tcp\x22 -w /datadisk1/tshark/`hostname`.pcap"

# these commands need to run as root, so we set PermissionsStartOnly to allow
# ExecStartPost and ExecStopPost to run as root
# these commands create a PID file that monit can use to watch wireshark
PermissionsStartOnly=true
ExecStartPost=/bin/dash -c "echo $MAINPID > /run/wireshark.pid"
ExecStopPost=/bin/rm -f /run/wireshark.pid

# run dumpcap itself as a user and not as root
User=wireshark
Group=wireshark

# create a mount namespace such that this service gets its own private /tmp/.
PrivateTmp=true

# in syslog identify this service as "wireshark" and not "dash"
SyslogIdentifier=wireshark

[Install]
# i.e., start on boot-up
WantedBy=multi-user.target
