# {{ ansible_managed }}
[Unit]
Description=Removes old wiresharks

[Service]
Type=oneshot
# delete all pcap files that have not been modified in 30 days
ExecStart=/usr/bin/find /datadisk1/tshark -name '*.pcap' -mtime +31 -delete
